<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Examples</h2>
            <h3 class="section-subheading text-muted">
                Check what your query results will look like.
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/uniprots/egfr_human">1. Uniprot description</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/uniprots/egfr_human/pfams">2. Available pfam for a uniprot</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/pfams/pf00131">3. Pfam description</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/pfams/pf00131/sequence_descriptions?with_pdb=false">4. Pfam known sequences</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/pfams/pf00131/sequence_descriptions">5. Pfam known sequences with known PDB</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/pfams/pf00131/stockholm">6. Pfam MSA in stockholm format</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/uniprots/egfr_human/505-637/pdbs">7. vailable pdbs for a sequence</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/protein_sequences/DNCIQCAHYIDGPHCVKTCPAGVMGENNTLVWKYADAGHVCHLCHPNCTYGCTGPGLEGCPTNGPKIPSIATGMVGALLLLLVVALGIGLFMRRRHIVRKRTLRRLLQERELVEPLTPSGEAPNQALLRILKETEFKKIKVLGSGAFGTVYKGLWIPEGEKVKIPVAIKELREATSPKANKEILDEAYVMASVDNPHVCRLLGICLTSTVQLITQLMPFGCLLDYVREHKDNIGSQYLLNWCVQIAKGMNYLEDRRLVHRDLAARNVLVKTPQHVKITDFGLAKLLGAEEKEYHAEGGKVPIKWMALESILHRIYTHQSDVWSYGVTVWELMTFGSKPYDGIPASEISSILEKGERLPQPPICTIDVYMIMVKCWMIDADSRPKFRELIIEFSKMARDPQRYLVIQGDERMHLPSPTDSNFYRALMDEEDMDDVVDADEYLIPQQGFFSSPSTSRTPLLSSLSATSNNSTVACIDRNGLQSCPIKEDSFLQRYSSDPTGALTEDSIDDTFLPVPEYINQSVPKRPAGSVQNPVYHNQPLNPAPSRDPHYQDPHSTAVGNPEYLNTVQPTCVNSTFDSPAHWAQKGSHQISLDNPDYQQDFFPKEAKPNGIFKGSTAENAEYLRVAPQSSEFIGA">8. Pfam from a partial protein sequence</a>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4">
            <a href="/api/v0/version">9. Version</a>
        </div>
    </div>
</div>
