cookies.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
.env

# Distribution / packaging
db/
pytest-coverage.txt
.Python
requirements.txt
requirements_dev.txt
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
.idea/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
bin/
share/
include/
pip-selfcheck.json
node_modules/
celerybeat-schedule
dumps
hmmer-*
Pfam*\.0
PfamScan*
esl-afetch
hmmpress
hmmscan
pfam*.sql.bz2
tmp/
data/
wget-log
backend/pfamserver/static
backend/mysql

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.pytest_cache
.vs
pfamserver/static/manifest.json

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# database
db/mysql/*
