.team-member {
  text-align: center;
  margin-bottom: 50px;
}
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
.team-member p {
  margin-top: 0;
}
.team-1 {
    content:url("./img/team/eloy.jpg");
}

.team-2 {
    content:url("./img/team/cristina.jpg");
}

.team-3 {
    content:url("./img/team/franco.jpg");
}

.team-4 {
    content:url("./img/team/javier.jpg");
}

@-moz-document url-prefix() {
    .team {
        content: '' !important;
        display: inline-block;
        width: 239px;
        height: 239px;
        background-size: 100% !important;
    }

    .team-1 {
        background: url("./img/team/eloy.jpg") no-repeat 0 0;
    }

    .team-2 {
        background: url("./img/team/cristina.jpg") no-repeat 0 0;
    }

    .team-3 {
        background: url("./img/team/franco.jpg") no-repeat 0 0;
    }

    .team-4 {
        background: url("./img/team/javier.jpg") no-repeat 0 0;
    }
}
