@font-face {
  font-family: 'mistic';
  src:  url('fonts/mistic.eot?jyima');
  src:  url('fonts/mistic.eot?jyima#iefix') format('embedded-opentype'),
    url('fonts/mistic.ttf?jyima') format('truetype'),
    url('fonts/mistic.woff?jyima') format('woff'),
    url('fonts/mistic.svg?jyima#mistic') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mistic' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-graph-layout:before {
  content: "\e90d";
}
.icon-panels:before {
  content: "\e909";
}
.icon-tabs:before {
  content: "\e90a";
}
.icon-cluster-layout:before {
  content: "\e90b";
}
.icon-grid-layout:before {
  content: "\e90c";
}
.icon-panels:before {
  content: "\e909";
}
.icon-tabs:before {
  content: "\e90a";
}
.icon-expand:before {
  content: "\e900";
}
.icon-bars:before {
  content: "\e901";
}
.icon-navicon:before {
  content: "\e901";
}
.icon-reorder:before {
  content: "\e901";
}
.icon-connectdevelop:before {
  content: "\e902";
}
.icon-plus:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-spinner:before {
  content: "\e907";
}
.icon-loading:before {
  content: "\e907";
}
.icon-loading-wheel:before {
  content: "\e907";
}
.icon-busy:before {
  content: "\e907";
}
.icon-wait:before {
  content: "\e907";
}
.icon-circle:before {
  content: "\e908";
}
.icon-fullscreen:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-close:before {
  content: "\ea0f";
}
.icon-circle-layout:before {
  content: "\ea56";
}
.icon-unselect:before {
  content: "\ea59";
}
