contact .section-heading {
  color: white;
}
contact .form-group {
  margin-bottom: 25px;
}
contact .form-group input,
contact .form-group textarea {
  padding: 20px;
}
contact .form-group input.form-control {
  height: auto;
}
contact .form-group textarea.form-control {
  height: 236px;
}
contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}
contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cecece;
}
contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cecece;
}
contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cecece;
}
contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #cecece;
}
contact .text-danger {
  color: #e74c3c;
}
