<!DOCTYPE html>
<!-- Based on HTML5 Bones | http://html5bones.com -->

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>pfamserver help</title>
	<meta name="description" content="">
  <!-- Mobile-friendly viewport -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Style sheet link -->
  <link href="static/css/main.css" rel="stylesheet" media="all">
  <script type="text/javascript" src="static/js/jquery-1.11.3.min.js"></script>
</head>
<body>
  <div class="header">
    <h3>pfamserver help</h3>
    <div class="version"> 
      Pfam version: {{version}}
    </div>
  </div>
  <div class="body">
    <p>A <strong>json API</strong> is available through <a href="/api/">/api/</a>, or use the graphical interface to discover some pfams database tables and apply some filters (access to <a href="/admin">/admin</a>).</p>
    <p>Check the next example:</p>
    <ul>
      <li><a href='/api/PfamA?q={"filters":[{"name":"pfamA_id","op":"eq","val":"Piwi"}],"single":true}'>/api/PfamA?q={"filters":[{"name":"pfamA_id","op":"eq","val":"Piwi"}],"single":true}</a></li>
    </ul>
    <p>There are some <strong>special queries</strong> that join multiple tables and accept some specific parameters. This queries respond with a json dictionary with the "query" and "output" keys.</p>
    <p>First, it is posible to obtain a list of <strong>pfamA</strong> registers from a <strong>uniprot_id</strong> (eg. <a href="/api/query/pfam_uniprot/egfr_human">/api/query/pfam_uniprot/egfr_human</a>).</p>
    <p>Also, it is available a way to recover a list of <strong>PDB</strong> registers from a "<strong>sequence description</strong>" (eg. <a href="/api/query/pdb_sequencedescription/egfr_human,57,168">/api/query/pdb_sequencedescription/egfr_human,57,168</a>) where the 3 parameters are a <strong>uniprot_id</strong>, a <strong>seq_start</strong> and <strong>seq_end</strong> inside that uniprot register.</p>
    <p>Then, it is accesible an alternative to obtain a <strong>small PDB image</strong> (base 64 enconded after compressed) from an specific <strong>pdb_id</strong> (eg. <a href="/api/query/pdbimage_pdb/1IVO">/api/query/pdbimage_pdb/1IVO</a>).</p> 
    <p>Last, it is posible to obtain an MSA in stockholm format through a pfamA_acc or pfamA_id (eg. <a href="/api/query/stockholm_pfam/piwi">/api/query/stockholm_pfam/piwi</a>). The <strong>output</strong> value is <em>zip compressed</em> and then <em>base 64 encoded</em>, to optimize transport over the network.</p>
    <p>Check the next examples:</p>
    <ul>
      <li><a class="s_pfam" href="/api/query/stockholm_pfam/pf02171">/api/query/stockholm_pfam/pf02171</a></li>
      <li><a class="s_pfam" href="/api/query/stockholm_pfam/pax">/api/query/stockholm_pfam/pax</a></li>
      <li><a class="s_pfam" href="/api/query/stockholm_pfam/paz">/api/query/stockholm_pfam/paz</a></li>
      <li><a class="s_pfam" href="/api/query/stockholm_pfam/pez">/api/query/stockholm_pfam/pez</a></li>
      <li><a class="s_pfam" href="/api/query/stockholm_pfam/paz">/api/query/stockholm_pfam/paz</a></li>
      <li><a href="/api/query/pfam_uniprot/a4_human">/api/query/pfam_uniprot/a4_human</a></li>
      <li><a href="/api/query/pfam_uniprot/A0A024RAI1_HUMAN">/api/query/pfam_uniprot/A0A024RAI1_HUMAN</a></li>
      <li><a href="/api/query/pfam_uniprot/A0A024RAI7_human">/api/query/pfam_uniprot/A0A024RAI7_human</a></li>
      <li><a class="pi_pdb" href="/api/query/pdbimage_pdb/1IVA">/api/query/pdbimage_pdb/1IVA</a></li>
      <li><a class="pi_pdb" href="/api/query/pdbimage_pdb/1xkk">/api/query/pdbimage_pdb/1xkk</a></li>
      <li><a class="pi_pdb" href="/api/query/pdbimage_pdb/4bmg">/api/query/pdbimage_pdb/4bmg</a></li>
      <li><a href="/api/query/pdb_sequencedescription/A4_HUMAN,675,713">/api/query/pdb_imagedescription/A4_HUMAN,675,713</a></li>
      <li><a href="/api/query/pdb_sequencedescription/d3ztp9_rat,556,848">/api/query/pdb_imagedescription/d3ztp9_rat,556,848</a></li>
    </ul>
  </div>
  <script type="text/javascript">
    $(function() {
        $('.s_pfam').attr("title", "The 'output' of the 'stockholm_pfam' should be b64decoded and then decompressed.");
        $('.pi_pdb').attr("title", "The 'output' of the 'pdbimage_pdb' should be b64decoded and then decompressed.");
    });
  </script>
</body>
