<!doctype html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/css/mistic-style.css">
  <!-- Latest compiled and minified JavaScript -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
</body>
